h1 HTML to Jade converter

form(method="post")
    fieldset
        legend HTML

        label(for="html") HTML:
        textarea(name="html", id="html")
            | <!doctype html>
            | <html>
            |     <head>
            |       <link type="text/css" rel="stylesheet" href="/site.css" />
            |       <title>Hello</title>
            |     </head>
            |     <body>
            |       <h1>Hello world!</h1>
            |     </body>
            | </html>
    
    fieldset
        legend Jade

        label(for="jade") Jade:
        textarea(name="jade", id="jade")

    fieldset.actions
        button(type="submit").to-jade Convert!