!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HTML 2 Jade - a converter for HTML
    meta(name='author', content='Aaron Powell')
    meta(name='viewport', content='width=1024, user-scalable=no')

    link(href="/normalizer.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Acme", rel="stylesheet")
    link(href="/site.css", rel="stylesheet")

  body
    a(href='http://github.com/aaronpowell/html2jade-website')
      img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 50;', src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

    != body

    footer
        | A
        a(href='http://jade-lang.com', title='Jade') Jade
        | &nbsp;+
        a(href='http://github.com/aaronpowell/html2jade-website') GitHub
        | &nbsp;+
        a(href='http://expressjs.com/') Express.js
        | &nbsp;+
        a(href='http://heroku.com') Heroku
        | &nbsp;experiment by
        a(href='http://aaron-powell.com') Aaron Powell
        | .

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/app.js")

    script(type='text/javascript')
        var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20152461-4']);
          _gaq.push(['_trackPageview']);
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
