!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HTML 2 Jade
    meta(name='author', content='Aaron Powell')
    meta(name='viewport', content='width=1024, user-scalable=no')

    link(href="/normalizer.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Acme", rel="stylesheet")
    link(href="/site.css", rel="stylesheet")

  body
    a(href='http://github.com/aaronpowell/html2jade-website')
      img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 50;', src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

    != body

    footer
        | A
        a(href='http://jade-lang.com', title='Jade') Jade
        | +
        a(href='http://github.com/aaronpowell/html2jade-website') GitHub
        | +
        a(href='http://expressjs.com/') Express.js
        | +
        a(href='http://heroku.com') Heroku
        | &nbsp;experiment by
        a(href='http://aaron-powell.com') Aaron Powell
        | .

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/app.js")