!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HTML 2 Jade
    meta(name='author', content='Aaron Powell')
    meta(name='viewport', content='width=1024, user-scalable=no')

  body
    != body

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/app.js")